[Unit]
Description=MindBank API Server
After=docker.service
Wants=docker.service

[Service]
Type=simple
WorkingDirectory=/home/%u/mindbank
ExecStartPre=/usr/bin/docker compose up -d
ExecStart=/home/%u/mindbank/mindbank
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/%u/mindbank/.env

[Install]
WantedBy=default.target
